<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473727127506-fd49quulvkfeh025ukeka2bjl4mohk80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473727127506-fd49quulvkfeh025ukeka2bjl4mohk80</string>
	<key>API_KEY</key>
	<string>AIzaSyAgZYPS9gs7PUwUSW5nO4LsD0Kt44riCzM</string>
	<key>GCM_SENDER_ID</key>
	<string>473727127506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTwitter</string>
	<key>PROJECT_ID</key>
	<string>flutter-twitter-72cf7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-twitter-72cf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473727127506:ios:293b868cfbc32bb147c20b</string>
</dict>
</plist>